button {
	font-size: 80px;
	height: 20vh;
	margin: 1rem;
}

.name-buttons .eden.btn {
	background-color: pink;
}

.name-buttons .ryan.btn {
	background-color: rgb(255, 157, 157);
}

.name-buttons .dan.btn {
	background-color: rgb(120, 120, 255);
}
